{% extends 'base.html' %}
{% load static %}

{% block content %}
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <script src='https://cdn.jsdelivr.net/npm/fullcalendar@6.1.10/index.global.min.js'></script>

    <div id='calendar'></div>

    <script>
        document.addEventListener('DOMContentLoaded', function() {
            var calendarEl = document.getElementById('calendar');
            
            // Parse holidays from Django template
            var holidays = JSON.parse('{{ holidays|escapejs }}');
            console.log(holidays);  // Debugging

            var events = Object.entries(holidays).map(([date, name]) => ({
                title: name,
                start: date,
                allDay: true,
                className: 'holiday-event'
            }));

            var calendar = new FullCalendar.Calendar(calendarEl, {
                initialView: 'dayGridMonth',
                headerToolbar: {
                    left: 'prev,next today',
                    center: 'title',
                    right: 'dayGridMonth,dayGridWeek'
                },
                events: events,
                eventDidMount: function(info) {
                    if (info.event.classNames.includes('holiday-event')) {
                        info.el.title = info.event.title;
                    }
                }
            });

            calendar.render();
        });
    </script>
{% endblock %}
