{% extends 'base.html' %}

{% block content %}

    <div class="container w-50 p-4 bg-white shadow rounded">
        <h2 class="mb-4 text-center">Iniciar Sesión</h2>
        <form method="post">
            {% csrf_token %}
            <div class="mb-3">
                <label for="username" class="form-label">Nombre de Usuario</label>
                <input type="text" name="username" id="username" class="form-control" required>
            </div>
            <div class="mb-3">
                <label for="password" class="form-label">Contraseña</label>
                <input type="password" name="password" id="password" class="form-control" required>
            </div>
            <button type="submit" class="btn btn-primary w-100">Iniciar Sesión</button>
        </form>
        <div class="mt-3 text-center">
            <p>¿No tienes una cuenta? <a href="{% url 'register' %}">Registrarse</a></p>
            <p><a href="{% url 'index' %}" class="btn btn-secondary mt-2">Volver a Inicio</a></p>
        </div>
    </div>


{% endblock %}